{% extends "template.html" %}
{% block content %}

    <div class="container-fluid" align="left">
        <h1>Alunos matrículados</h1>
        <!--Colocar a lista de cursos matrículados-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">NUSP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for item in alunos %}
                    <th scope="row">{{loop.index}}</th>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container-fluid" align="left">
        <h1>Trilhas</h1>   
        <!-- As trilhas e se foram completas-->
    </div>

{% endblock %}