<div class="container-fluid" align="center">
    <div class="card" style="width: 30rem;" align="center">

        <div class="card-body">
            <h2 class="card-title" align="center">
                Criar Disciplina
            </h2>
            <form action="/do_create_disciplina" method="POST">
                    <input type="text" name="codigo" placeholder="Código" class="form-control">
                    <input type="text" name="nome" placeholder="Nome da Disciplina" class="form-control">
                    <select name="credito_aula">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <select name="credito_trabalho">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select><select name="periodo_ideal">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <input type="text" name="ementa" placeholder="Ementa da Disciplina" class="form-control">
                    <input type="text" name="descrição" placeholder="Descrição da Disciplina" class="form-control">
                    <button type="sub" class="btn btn-primary btn-block" align="center"> Criar Disciplina </button>
                </div>

            </form>
        </div>
    </div>
</div>