{% extends "template.html" %}
{% block content %}
<div class="container-fluid" align="center">
    <h1> Yggdrasil </h1>
    <p style="font-size:160%;"> Uma plataforma para escolha de trilhas dentro do curso do BCC</p>
</div>
<div class="container-fluid" align="center">
    <h1> Banco de dados criados</h1>
    <a href="/alunos"> <button type="button" class="btn btn-primary btn-lg">Alunos</button> </a>
    <button type="button" class="btn btn-primary btn-lg">Professores</button>

</div>
{% endblock %}