{% extends "template.html" %}
{% block content %}

<div class="container-fluid" align="center">
    <h1> Yggdrasil </h1>
    <p style="font-size:160%;"> Uma plataforma para escolha de trilhas dentro do curso do BCC</p>
</div>
<div class="container-fluid" align="center">
    <h1> Sessão para:</h1>
    <a href="/painel_do_aluno"> <button type="button" class="btn btn-primary btn-lg">Painel do Aluno</button> </a>
    <a href="/painel_do_professor"> <button type="button" class="btn btn-primary btn-lg">Painel do Professor</button> </a>
    <a href="/alunos"> <button type="button" class="btn btn-primary btn-lg">Alunos</button> </a>
    <a href="/professores"> <button type="button" class="btn btn-primary btn-lg">Professores</button> </a>

</div>
{% endblock %}