{% extends "template.html" %}
{% block content %}
<div class="container-fluid" align="left">
    <h1>Disciplinas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for item in alunos %}
                <th scope="row">{{loop.index}}</th>
                    <td>{{item}}</td>
                    <td>Augusto</td>
                    <td>-</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}