<!DOCTYPE html>
<html>
<head>
    <title>Yggdrasil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Yggdrasil</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if session['logged_in'] %}
                <li><a> {{ session['name'] }}</a></li>
                <li><a href="/myaccount"><span class="glyphicon glyphicon-user"></span> Minha conta</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                {%else%}
                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>   
    {% block content %}
    {% endblock %}
</body>
</html>